<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437442954692-8voa9aec7uuv14hp1m9sp79i592u3qj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437442954692-8voa9aec7uuv14hp1m9sp79i592u3qj4</string>
	<key>API_KEY</key>
	<string>AIzaSyC5AID6gavP_vpzgjqd2x0hVe8uQMcLzl0</string>
	<key>GCM_SENDER_ID</key>
	<string>437442954692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hu.budipest</string>
	<key>PROJECT_ID</key>
	<string>budipest-4c99f</string>
	<key>STORAGE_BUCKET</key>
	<string>budipest-4c99f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437442954692:ios:1bf83a667b1fbf92a61091</string>
	<key>DATABASE_URL</key>
	<string>https://budipest-4c99f.firebaseio.com</string>
</dict>
</plist>