<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251201033430-5hjnc7ssj4pu6tsa66bbsajd4dh4ii7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251201033430-5hjnc7ssj4pu6tsa66bbsajd4dh4ii7k</string>
	<key>API_KEY</key>
	<string>AIzaSyCm8eEYm5TL09uQ-4qZIyy-iEvGyYcLDZE</string>
	<key>GCM_SENDER_ID</key>
	<string>251201033430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hu.dnlgrgly.budipest</string>
	<key>PROJECT_ID</key>
	<string>budipest-298513</string>
	<key>STORAGE_BUCKET</key>
	<string>budipest-298513.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251201033430:ios:505522a1bc1b83c457a577</string>
</dict>
</plist>